body {
    background-color: aliceblue;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
   flex: 0 1 24%;
    height: 250px;
    background-color: lightgreen;
    margin: 1px;
}

@media only screen and (max-width: 425px) {
    .card {
        flex: 0 1 75%;
    }
}

@media only screen and (min-width: 426px) {
    .card {
        flex: 0 1 49%;
    }
}

@media only screen and (min-width: 1024px) {
    .card {
        flex: 0 1 33%;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        flex: 0 1 20%;
    }
}






